streamlit==1.26.0
tensorflow==2.13.0
numpy==1.24.3
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.3.0
librosa==0.10.0.post2
librosa
absl-py
tensorflow==2.13.0
keras==2.13.1
adlfs
aiobotocore
aiofiles
aiohttp
aiohttp-retry
aioitertools
aiosignal
aiosqlite
alabaster
altair
amqp
anaconda-client
anyio
appdirs
appnope
argon2-cffi
argon2-cffi-bindings
async-timeout
asyncssh
attrs
Automat
azure-core
azure-identity
azure-storage-blob
Babel
bcrypt
beautifulsoup4
billiard
black
bleach
bokeh
botocore
cachetools
celery
certifi
cffi
charset-normalizer
click>=8.0
cloudpickle
colorama
cryptography
cycler
dask
datashader
debugpy
decorator
defusedxml
dill
distributed
entrypoints
fsspec
idna
importlib-metadata
jedi
Jinja2
joblib
jsonschema
jupyter
kiwisolver
lazy-object-proxy
lxml
Markdown
MarkupSafe
matplotlib
mccabe
mistune
msgpack
mypy-extensions
nbformat
networkx
notebook
numpy
packaging
pandas
partd
Pillow
prometheus-client
protobuf
pyarrow
pyasn1
pycodestyle
pycparser
Pygments
PyJWT
pylint
pyparsing
pyrsistent
python-dateutil
python-dotenv
python-json-logger
pytz
PyYAML
requests
s3fs
scikit-learn
scipy
seaborn
six
sortedcontainers
soupsieve
SQLAlchemy
streamlit
tenacity
tornado
tqdm
traitlets
typing-extensions
urllib3
watchdog
wcwidth
webencodings
websocket-client
Werkzeug
wrapt
yarl
zict
zipp
zope.interface
